<%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>

<div class="columns has-background-white has-text-centered">
    <div class="column"></div>
    <div class="column"></div>
    <div class="column">
        <h3 class="title is-5">Account name</h3>
        <h4 class="subtitle is-4"><%= @account.name %></h4>
    </div>
    <div class="column">
        <h3 class="title is-5">Account value</h3>
        <h4 class="subtitle is-4">$<%= @account.asset_balance + @account.available_balance %></h4>
    </div>
    <div class="column">
        <h3 class="title is-5">Invested in</h3>
        <h4 class="subtitle is-4"><%= @account.holding.asset.ticker %></h4>
    </div>
    <div class="column">
        <%= button_to("Fund this account", new_transaction_path, :method => :get, class: "button is-warning is-rounded")  %>
    </div>
    <div class="column"></div>
</div>

<%= area_chart @account.balance_history, colors:["#ffdd57"], curve: false, discrete: true, library: {
    hAxis: { textPosition: "none" },
    vAxis: { textPosition: "none", gridlines: { color: "transparent" } },
    backgroundColor: { fill: "transparent" },
    chartArea: { width: "100%" }
} %>

<div class="columns has-text-centered mt-5">
    <div class="column"></div>
    <div class="column">
        <% if @account.transactions.count > 0 %>
            <div class="box">
                <h2 class="title is-2 mb-6">Transactions</h2>
                <% @transactions.each do |transaction| %>
                    <div class="columns">
                        <div class="column">
                            <h3 class="title is-6 mb-4">Date</h3>
                            <%= transaction.created_at.strftime('%d %b %H:%M') %>
                        </div>
                        <div class="column">
                            <h3 class="title is-6 mb-4">Type</h3>
                            <%= transaction.description %>
                        </div>
                        <div class="column">
                            <h3 class="title is-6 mb-4">Amount</h3>
                            $<%= transaction.amount %>
                        </div>
                    </div>
                <% end %>
            </div>
        <% else %>
            <div class="box">
                <h2 class="title is-3">No transactions to show yet</h2>
                <%= button_to("Fund this account", new_transaction_path, :method => :get, class: "button is-warning is-rounded")  %>
            </div>
        <% end %>
    </div>
    <div class="column">
        <div class="box">
            <h2 class="title is-2 mb-6">Deposit insights</h2>
            <%= column_chart @account.transactions.where(:description => "Deposit").group_by_day(:created_at).sum(:amount), colors:["#387474"] %>
        </div>

        <div class="box">
            <h2 class="title is-2 mb-6">Portfolio</h2>

            <div class="columns">
                <div class="column">
                    <h3 class="title is-6 mb-4">Asset</h3>
                    <%= @holding.asset.ticker %>
                </div>
                <div class="column">
                    <h3 class="title is-6 mb-4">Units</h3>
                    <%= @holding.units %>
                </div>
                <div class="column">
                    <h3 class="title is-6 mb-4">Risk</h3>
                    <%= @holding.asset.riskiness %>
                </div>
            </div>

            <div class="columns">
                <div class="column">
                    Cash
                </div>
                <div class="column">
                    <%= @account.available_balance %>
                </div>
                <div class="column">
                    <%= 0 %>
                </div>
            </div>

        </div>
    </div>
    <div class="column"></div>
</div>